annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
attrs
bcrypt
certifi
cffi
charset-normalizer
click
distro
django
django-cors-headers
django-environ
django-filter
django-redis
django-rq
django-waffle
djangorestframework
djangorestframework-api-key
djangorestframework-simplejwt
drf-spectacular
h11
httpcore
httpx
idna
jiter
jsonschema-specifications
openai
packaging
numpy
opencv-python-headless
pdf2image
pillow
pip
psycopg2-binary
pycparser
pydantic
pydantic-core
pyjwt
pypdf2
python-dateutil
python-dotenv
pytz
redis
referencing
requests
rpds-py
rq
setuptools
six
sniffio
sqlparse
typing-extensions
typing-inspection
tzdata
uritemplate
urllib3